.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 25px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 50px;    
    transition: background-color 0.3s, border 0.3s;   
    
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    border: 1px solid #2f6732;
    color:#D98E04;
    background-color: #2f6732;
    margin-right: 10px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #2f6732;
    color: #D98E04;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active{
    background-color:#D92B04;     
}

.btn-full:hover,
.btn-full:active{
  
    border: 1px solid #D92B04;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #D92B04;
}